In [1]:
import pandas as pd

In [88]:
appointment=pd.read_csv(
    r"C:\Users\harsh\OneDrive\Desktop\Hospital appointment analysis\appointments.csv")
billing=pd.read_csv(r"C:\Users\harsh\OneDrive\Desktop\Hospital appointment analysis\billing.csv")
treatment=pd.read_csv(r"C:\Users\harsh\OneDrive\Desktop\Hospital appointment analysis\treatments.csv")
doctor=pd.read_csv(r"C:\Users\harsh\OneDrive\Desktop\Hospital appointment analysis\doctors.csv")
patient=pd.read_csv(r"C:\Users\harsh\OneDrive\Desktop\Hospital appointment analysis\patients.csv")

In [89]:
appointment.head()

,appointment_id,patient_id,doctor_id,appointment_date,appointment_time,reason_for_visit,status
0,A001,P034,D009,2023-08-09,15:15:00,Therapy,Scheduled
1,A002,P032,D004,2023-06-09,14:30:00,Therapy,No-show
2,A003,P048,D004,2023-06-28,8:00:00,Consultation,Cancelled
3,A004,P025,D006,2023-09-01,9:15:00,Consultation,Cancelled
4,A005,P040,D003,2023-07-06,12:45:00,Emergency,No-show

In [90]:
billing.head()

,bill_id,patient_id,treatment_id,bill_date,amount,payment_method,payment_status
0,B001,P034,T001,2023-08-09,3941.97,Insurance,Pending
1,B002,P032,T002,2023-06-09,4158.44,Insurance,Paid
2,B003,P048,T003,2023-06-28,3731.55,Insurance,Paid
3,B004,P025,T004,2023-09-01,4799.86,Insurance,Failed
4,B005,P040,T005,2023-07-06,582.05,Credit Card,Pending

In [91]:
treatment.head()

,treatment_id,appointment_id,treatment_type,description,cost,treatment_date
0,T001,A001,Chemotherapy,Basic screening,3941.97,2023-08-09
1,T002,A002,MRI,Advanced protocol,4158.44,2023-06-09
2,T003,A003,MRI,Standard procedure,3731.55,2023-06-28
3,T004,A004,MRI,Basic screening,4799.86,2023-09-01
4,T005,A005,ECG,Standard procedure,582.05,2023-07-06

In [92]:
doctor.head()

,doctor_id,first_name,last_name,specialization,phone_number,years_experience,hospital_branch,email
0,D001,David,Taylor,Dermatology,8322010158,17,Westside Clinic,dr.david.taylor@hospital.com
1,D002,Jane,Davis,Pediatrics,9004382050,24,Eastside Clinic,dr.jane.davis@hospital.com
2,D003,Jane,Smith,Pediatrics,8737740598,19,Eastside Clinic,dr.jane.smith@hospital.com
3,D004,David,Jones,Pediatrics,6594221991,28,Central Hospital,dr.david.jones@hospital.com
4,D005,Sarah,Taylor,Dermatology,9118538547,26,Central Hospital,dr.sarah.taylor@hospital.com

In [93]:
patient.head()

,patient_id,first_name,last_name,gender,date_of_birth,contact_number,address,registration_date,insurance_provider,insurance_number,email
0,P001,David,Williams,F,1955-06-04,6939585183,789 Pine Rd,2022-06-23,WellnessCorp,INS840674,david.williams@mail.com
1,P002,Emily,Smith,F,1984-10-12,8228188767,321 Maple Dr,2022-01-15,PulseSecure,INS354079,emily.smith@mail.com
2,P003,Laura,Jones,M,1977-08-21,8397029847,321 Maple Dr,2022-02-07,PulseSecure,INS650929,laura.jones@mail.com
3,P004,Michael,Johnson,F,1981-02-20,9019443432,123 Elm St,2021-03-02,HealthIndia,INS789944,michael.johnson@mail.com
4,P005,David,Wilson,M,1960-06-23,7734463155,123 Elm St,2021-09-29,MedCare Plus,INS788105,david.wilson@mail.com

In [94]:
appointment.info()
billing.info()
treatment.info()
doctor.info()
patient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   appointment_id    200 non-null    object
 1   patient_id        200 non-null    object
 2   doctor_id         200 non-null    object
 3   appointment_date  200 non-null    object
 4   appointment_time  200 non-null    object
 5   reason_for_visit  200 non-null    object
 6   status            200 non-null    object
dtypes: object(7)
memory usage: 11.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   bill_id         200 non-null    object
 1   patient_id      200 non-null    object
 2   treatment_id    200 non-null    object
 3   bill_date       200 non-null    object
 4   amount          200 non-null    float64
 5   payment_method  200 non-null    object
 6   payment_status  200 non-null    object
dtypes: float64(1), object(6)
memory usage: 11.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   treatment_id    200 non-null    object
 1   appointment_id  200 non-null    object
 2   treatment_type  200 non-null    object
 3   description     200 non-null    object
 4   cost            200 non-null    float64
 5   treatment_date  200 non-null    object
dtypes: float64(1), object(5)
memory usage: 9.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   doctor_id         10 non-null     object
 1   first_name        10 non-null     object
 2   last_name         10 non-null     object
 3   specialization    10 non-null     object
 4   phone_number      10 non-null     int64
 5   years_experience  10 non-null     int64
 6   hospital_branch   10 non-null     object
 7   email             10 non-null     object
dtypes: int64(2), object(6)
memory usage: 772.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   patient_id          50 non-null     object
 1   first_name          50 non-null     object
 2   last_name           50 non-null     object
 3   gender              50 non-null     object
 4   date_of_birth       50 non-null     object
 5   contact_number      50 non-null     int64
 6   address             50 non-null     object
 7   registration_date   50 non-null     object
 8   insurance_provider  50 non-null     object
 9   insurance_number    50 non-null     object
 10  email               50 non-null     object
dtypes: int64(1), object(10)
memory usage: 4.4+ KB

In [95]:
appointment.describe()

,appointment_id,patient_id,doctor_id,appointment_date,appointment_time,reason_for_visit,status
count,200,200,200,200,200,200,200
unique,200,48,10,158,40,5,4
top,A001,P012,D005,2023-08-16,11:00:00,Checkup,No-show
freq,1,10,29,5,9,45,52

In [96]:
appointment.isnull().sum()

appointment_id      0
patient_id          0
doctor_id           0
appointment_date    0
appointment_time    0
reason_for_visit    0
status              0
dtype: int64

In [97]:
billing.describe()

            amount
count   200.000000
mean   2756.249250
std    1298.125308
min     534.030000
25%    1563.412500
50%    2828.165000
75%    3836.627500
max    4973.630000

In [98]:
billing.isnull().sum()

bill_id           0
patient_id        0
treatment_id      0
bill_date         0
amount            0
payment_method    0
payment_status    0
dtype: int64

In [99]:
treatment.describe()

              cost
count   200.000000
mean   2756.249250
std    1298.125308
min     534.030000
25%    1563.412500
50%    2828.165000
75%    3836.627500
max    4973.630000

In [100]:
treatment.isnull().sum()

treatment_id      0
appointment_id    0
treatment_type    0
description       0
cost              0
treatment_date    0
dtype: int64

In [101]:

doctor.describe()

       phone_number  years_experience
count  1.000000e+01           10.0000
mean   7.919716e+09           21.5000
std    1.142890e+09            6.7536
min    6.176384e+09            5.0000
25%    6.792438e+09           19.5000
50%    8.269752e+09           23.5000
75%    8.937722e+09           26.0000
max    9.118539e+09           28.0000

In [102]:
doctor.isnull().sum()

doctor_id           0
first_name          0
last_name           0
specialization      0
phone_number        0
years_experience    0
hospital_branch     0
email               0
dtype: int64

In [103]:
patient.describe()

       contact_number
count    5.000000e+01
mean     7.817283e+09
std      9.573594e+08
min      6.141952e+09
25%      7.065593e+09
50%      7.749927e+09
75%      8.599947e+09
max      9.900972e+09

In [104]:
patient.isnull().sum()

patient_id            0
first_name            0
last_name             0
gender                0
date_of_birth         0
contact_number        0
address               0
registration_date     0
insurance_provider    0
insurance_number      0
email                 0
dtype: int64

In [105]:
appointment.columns

Index(['appointment_id', 'patient_id', 'doctor_id', 'appointment_date',
       'appointment_time', 'reason_for_visit', 'status'],
      dtype='object')

In [106]:

appointment['appointment_date'] = pd.to_datetime(appointment['appointment_date'])                                                  
treatment['treatment_date'] = pd.to_datetime(treatment['treatment_date'])


billing['bill_date'] = pd.to_datetime(billing['bill_date'])


patient['date_of_birth'] = pd.to_datetime(patient['date_of_birth'])
patient['registration_date'] = pd.to_datetime(patient['registration_date'])

In [107]:
appointment.dtypes

appointment_id              object
patient_id                  object
doctor_id                   object
appointment_date    datetime64[ns]
appointment_time            object
reason_for_visit            object
status                      object
dtype: object

In [108]:
appointment['appointment_month'] = appointment['appointment_date'].dt.to_period('M')

In [109]:
appointment[['appointment_date', 'appointment_month']].head()

  appointment_date appointment_month
0       2023-08-09           2023-08
1       2023-06-09           2023-06
2       2023-06-28           2023-06
3       2023-09-01           2023-09
4       2023-07-06           2023-07

In [110]:
from datetime import datetime

patient['age'] = (
    (pd.Timestamp('today') - patient['date_of_birth'])
    .dt.days // 365
)

In [111]:
patient[['date_of_birth', 'age']].head()

  date_of_birth  age
0    1955-06-04   70
1    1984-10-12   41
2    1977-08-21   48
3    1981-02-20   44
4    1960-06-23   65

In [112]:
patient['age_group'] = pd.cut(
    patient['age'],
    bins=[0, 18, 30, 45, 60, 120],
    labels=['0-18', '19-30', '31-45', '46-60', '60+']
)

In [113]:
patient[['age', 'age_group']].head()

   age age_group
0   70       60+
1   41     31-45
2   48     46-60
3   44     31-45
4   65       60+

In [114]:
appointment['appointment_hour'] = (
    pd.to_datetime(
        appointment['appointment_time'],
        format='%H:%M:%S'
    ).dt.hour
)

In [115]:
appointment[['appointment_time', 'appointment_hour']].head()

  appointment_time  appointment_hour
0         15:15:00                15
1         14:30:00                14
2          8:00:00                 8
3          9:15:00                 9
4         12:45:00                12

In [116]:
appointment['status'].value_counts()

status
No-show      52
Scheduled    51
Cancelled    51
Completed    46
Name: count, dtype: int64

In [117]:
appointment.dtypes

appointment_id               object
patient_id                   object
doctor_id                    object
appointment_date     datetime64[ns]
appointment_time             object
reason_for_visit             object
status                       object
appointment_month         period[M]
appointment_hour              int32
dtype: object

In [118]:
for col in appointment.columns:
    if str(appointment[col].dtype).startswith("period"):
        appointment[col] = appointment[col].astype(str)

In [119]:
!pip install psycopg2-binary sqlalchemy

Requirement already satisfied: psycopg2-binary in c:\users\harsh\anaconda3\lib\site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in c:\users\harsh\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\harsh\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\harsh\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)

In [120]:
import psycopg2
print('installed ')

installed

In [121]:
from urllib.parse import quote_plus
password = quote_plus("Harsh@56")

In [122]:
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus

username = "postgres"
password = quote_plus("Harsh@56")
host = "localhost"
port = "5432"
database = "hospital_appointment_analysis"

engine = create_engine(
    f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}"
)

In [123]:
appointment.to_sql(
    name="appointments",
    con=engine,
    if_exists="replace",
    index=False
)

print("appointments table loaded successfully")

appointments table loaded successfully

In [124]:
billing.to_sql("billing", engine, if_exists="replace", index=False)
patient.to_sql("patients", engine, if_exists="replace", index=False)
doctor.to_sql("doctors", engine, if_exists="replace", index=False)
treatment.to_sql("treatments", engine, if_exists="replace", index=False)

200